.conpag-header {
  min-height: 100vh;
  color:#fff;
}

.conpag-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 100px;
  padding-top: 230px;
}

.conpag-main {
  position: relative;
  z-index: 2;
}

.conpag-skewed-background::before {
  content: '';
  display: block;
  width: 100%;
  min-height: 600px;
  transform: skewY(3deg);
  background-color:#ffc107;
  margin-top: -55px;
  position: absolute;
  left: 0px;
  top: 0px;
}


@media (max-width: 535px) {
  .conpag-skewed-background::before {
    min-height: 820px;
  } 
}

.conpag-contact {
  position: relative;
  z-index: 1;
  margin-top: -20px;
}

.conpag-contact-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 200px 0 60px 0;
} 

@media (max-width: 535px) {
  .conpag-contact-overlay {
    padding: 60px 0 60px 0;
  } 
}

.contactus-contactbox {
  background-color: #fff;
  padding: 30px 10px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.contactus-contact-icon {
  background-color: #ffc107;
  color:#fff;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin:auto;
  margin-top: -80px;
  border: 12px solid #fff;
}

.font-icon {
  margin: auto;
  font-weight: 600;
}

.phone-box {
  margin-bottom: 100px;
}

.contact-links {
  margin: 5px;
}

.contact-links li {
  padding:8px;
}
