/* main.css */
body {
  background-color: #ffc107;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

/* header */
.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sticky {
  padding:0;
  background-color: #343a40;
}

/* changed the color of navbar-collapse */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #343a40;
    padding: 15px 0;
  }
}

/* header-section */
.main-section {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 80px 0 60px;
  min-height: 100vh;
}

.skewed {
  transform: skew(0deg, 3deg) translateY(-120px);
}

.unskewed {
  transform: skew(0deg, -3deg) translateY(120px);
}

.nunito-heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 84px;
  padding-top: 175px;
}

/* contact section */
.contact-overlay {
  background-color: rgba(0, 0, 0, 0.1); 
  padding: 60px 0;
}

.contact-input {
  border: 1px solid #343a40;
  background-color: transparent;
}

/* map section */
#map {
  height:400px;
  width: 100%;
}



/* footer section */
.footer {
  padding-top: 50px;
}

.footer-overlay {
  background-color: rgba(255, 193, 7, 0.6);
  margin-top: -50px;
  padding-top: 50px;
}

.footer-content {
  padding-bottom:50px;
}

.footer-heading-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 84px;
}

.footer .links {
  color: #343a40;
}

.footer .links a {
  color: #343a40;
}

.social-icons a {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0 5px;
  text-align: center;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  font-size: 19px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social-icons a:hover {
  background: #d39e00;
  color: #fff;
}
